<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
    <h1>Task List</h1>
	{% if user.is_authenticated %}
        	{% for task in tasks %}
	           <p>{{ task.title }} </p>
	        {% endfor %}
	{% else %}
		<p>You are not logged in!</p>
		<a href="{% url 'users:login' %}"><button type="text">Login?</button></a>
    <a href="{% url 'tasks:create-task' %}" >
	<button type="text">Create Task</button>
    </a>
    {% endif %}
</body>
</html>
