{% extends '../base.html' %}
{% block title %}List{% endblock %}
{% block header %}List{% endblock %}
{% block content %}

<div class="my-[5px] bg-red">
{% for task in tasks %}
	<div class="flex justify-between items-center">
	  <div><a href="{% url 'tasks:task-detail' task.pk %}" >{{ task.title }}</a>
	  </div>
	  <div class="flex gap-2">
	  <button type="submit" class="w-full bg-red-500 hover:bg-blue-600 text-white font-medium py-[1px] px-4 rounded-md transition-colors duration-300 mt-4">
	    <a href="{% url 'tasks:delete-task' task.pk %} "class="text-sm">Delete Task</a>
	  </button>
	  <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-medium py-[1px] px-4 rounded-md transition-colors duration-300 mt-4">
	    <a href="{% url 'tasks:update-task' task.pk %} "class="text-sm">Update Task</a>
	  </button>
	  </div>
	</div>
{% endfor %}
</div>
	        
<a href="{% url 'tasks:create-task' %}" class="my-[5px]">
  <button type="text" class="rounded-xl">Create Task</button>
</a>
{% endblock %}
