{% extends '../base.html' %}
{% block title %}Detail{% endblock %}
{% block header %}{{ task.title }} Detail{% endblock %}
{% block content %}
<div>
  <hr>
  <p><strong>Title: </strong>{{ task.title }}</p>
  <p><strong>Description: </strong>{{ task.description }}</p>
  <p><strong>Priority: </strong>{{ task.priority }}</p>
  <p><strong>Due Date: </strong>{{ task.due_date }}</p>
  <p><strong>Status: </strong>{{ task.status }}</p>
  <div class="flex flex-col">
    <a href="{% url 'tasks:list-tasks' %}" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-md transition-colors duration-300 mt-4 text-center">Go to Home Page</a>
    <a href="{% url 'tasks:update-task' task.pk %}" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-md transition-colors duration-300 mt-4 text-center">Edit {{ task.title }}</a>
  </div>
</div>
{% endblock %}
